.contact-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .25);
    backdrop-filter: blur(3px);
    display: none;
    align-items: flex-start;
    justify-content: center;
    padding: 130px 24px 24px;
    z-index: 99;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.contact-modal.show {
    display: flex;
}

.contact-modal__content {
    position: relative;
    width: 100%;
    max-width: 400px;
    background: rgba(255, 255, 255, .95);
    border-radius: 4px;
    padding: 32px 24px;
}

.contact-modal__body {
    text-align: center;
}

.contact-modal__close {
    position: absolute;
    right: 8px;
    top: 8px;
    border: none;
    background: none;
    padding: 0;
}

.contact-modal__close img {
    width: 20px;
    height: 20px;
    max-width: 20px;
}

.contact-modal__title {
    font-size: 1.5rem;
    color: #1A1D22;
}

.contact-modal__title, .contact-modal__description {
    margin: 0;
}

.contact-modal__description {
    font-size: 1rem;
    color: #3C4043;
    line-height: 150%;
    padding-block: 8px 8px;
}

.contact-modal__footer {
    display: flex;
    flex-direction: column;
    border-top: none;
}

.contact-modal__link {
    padding: 16px;
    border-radius: 24px;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    color: #1A1D22;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 8px;
}

.contact-modal__link.btn-blue {
    background: #09BBC3;
}

.contact-modal__link.btn-gray {
    border: 2px solid #1A1D22;
}

@media (min-width: 600px){
    .contact-modal {
		align-items: flex-end;
		justify-content: flex-start;
		background: none;
		backdrop-filter: none;
        pointer-events: none;
        transform: translateY(0);
    }

    .contact-modal.show {
        transform: translateY(-40px);
    }
	
	.contact-modal__content {
		padding: 32px;
        pointer-events: all;
	}

    .contact-modal__close img {
        cursor: pointer;
    }
	
	.contact-modal__body {
		text-align: left;
	}
	
	.contact-modal__title {
		font-size: 1.5rem;
	}
	
	.contact-modal__description {
		font-size: 1rem;
		padding-block: 16px 16px;
	}
	
	.contact-modal__footer {
		flex-direction: row;
        flex-wrap: wrap;
		gap: 16px;
	}
	
	.contact-modal__link {
		font-size: .8rem;
		margin-top: 0;
		padding: 12px 16px;
	}
	
	.contact-modal__link.btn-blue {
		border: 2px solid #09BBC3;
        -webkit-transition: all .5s;
        transition: all .5s;
	}

    .contact-modal__link.btn-blue:hover {
        background-color: #b8eff1;
		border: 2px solid #b8eff1;
	}

    .contact-modal__link.btn-gray {
        -webkit-transition: all .5s;
        transition: all .5s;
    }
    
    .contact-modal__link.btn-gray:hover {
        background: #1A1D22;
        color: #fff;
    }
}