/* import para fontes de texto*/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap");

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #1a1d22;
    margin: 0;
}

.header-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;;
    position: absolute;
    z-index: 999;
}

.logo {
    padding: 0 3rem;
}

.logo img{
    width: 5rem;
}

.menu ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;
}

#nav-menu li {
    padding: 0 2rem;
}

#nav-menu a {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    position: relative;
}

#nav-menu a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

#nav-menu a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

#nav-menu a:hover {
    text-decoration: underline;
}

.btnContato {
    padding: 0 3rem;
}

.btnContato button {
    border: none;
    background-color: #09BBC3;
    border-radius: 30px;
    padding: 0.9rem 1.6rem;
    text-transform: uppercase;
    color: #1a1d22;
    font-weight: bold;
    letter-spacing: .15rem;
    font-family: "Montserrat", sans-serif;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.btnContato button:hover {
    cursor: pointer;
    background-color: #b8eff1;
}

.banner-container img {
    width: -webkit-fill-available;
    filter: brightness(0.2);
}

.banner {
    position: absolute;
    z-index: 2;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 10rem;
}

.banner .apresentacao{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.banner .titulo-apresentacao {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    letter-spacing: 0.15rem;
}

.img-apresentacao img {
    width: 23rem;
    filter: none;
}

footer {
    width: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
    border-top: 1px solid #333;
    z-index: 2;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #121212;
    padding: 30px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
}

.content-footer {
    padding: 0 5rem 0 2rem;
    border-left: 2px solid #1a1d22;
}

.content-footer ul {list-style: none;padding-left: 0;}

.content-footer li {margin-bottom: 3px;}

.content-footer a {
    color: #fff;
    text-decoration: none;    
}
.content-footer a:hover {
    text-decoration: underline;    
}

.content-footer h3 {margin: 0;font-weight: 500;}

.content-footer img {
    width: 16px;
    margin-right: 5px;  
}

.footer-social ul {display: flex;}

.footer-social img {width: auto; margin-right: 20px;}

@media all and (max-width: 900px) {
    #nav-menu, .btnContato{display:none;}

    .footer-container {
        flex-direction: column;
        width: auto;
    }

    footer .logo {
        padding: 1rem 0rem;
    }

    .content-footer {
        border-left: 0;
        border-top: 2px solid #1a1d22;
        padding: 0;
    }

    .content-footer h3 {
        margin-top: 1rem;
    }

    .content-footer li {margin-bottom: 10px;}

    .footer-social img {margin-right: 30px;}
}