/* import para fontes de texto*/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap");

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #1a1d22;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.header-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;;
    position: absolute;
    z-index: 999;
}

.logo {
    padding: 0 3rem;
}

.logo img{
    width: 5rem;
}

.menu ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;
}

#nav-menu li {
    padding: 0 2rem;
}

#nav-menu a {
    color: #fff;
    text-decoration: none;
    position: relative;
    font-size: 1.2rem;
}

#nav-menu a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

#nav-menu a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

#nav-menu a:hover {
    text-decoration: underline;
}

.btnContato {
    padding: 0 3rem;
}

.btnContato button,.btnContato a,.form-submit {
    font-size: 13px;
    text-decoration: none;
    border: none;
    background-color: #09BBC3;
    border-radius: 30px;
    padding: 0.9rem 1.6rem;
    text-transform: uppercase;
    color: #1a1d22;
    font-weight: bold;
    letter-spacing: .15rem;
    font-family: "Montserrat", sans-serif;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.btnContato button:hover,.btnContato a:hover,.form-submit:hover {
    cursor: pointer;
    background-color: #b8eff1;
}

.banner-container img {
    width: -webkit-fill-available;
    filter: brightness(0.3);
}

.banner {
    position: absolute;
    z-index: 2;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 10rem;
}

.banner .apresentacao{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.banner .titulo-apresentacao {
    color: #fff;
    font-size: 25px;
    letter-spacing: 0.15rem;
    background: rgba(26, 29, 34, 0.40);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    width: 70%;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(26, 29, 34, 0.3);
    display: none;
    flex-direction: column;
    padding: 6%;
    z-index: 10;
    align-items: center;
}

.active-banner {
    display: flex !important;
    -webkit-animation: slide-in-left 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-left 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

/* .hidden-banner {display: none;} */

.titulo-apresentacao {font-weight: 100;}

.titulo-apresentacao span {font-size: 2rem;}

.titulo-apresentacao h1 {margin-top: 1rem;}

.titulo-apresentacao b {font-weight: 100;}

[alt="Imagem do desktop e mobile"] {
    height: 40rem;
}

.img-apresentacao img {
    width: 23rem;
    filter: none;
}

.about,.experience,.projects,.contact {
    width: 100%;
    /* height: 30rem; */
    padding: 3rem 6rem;
}

.about-conteiner, .experience-conteiner,.projects-conteiner,.contact-conteiner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.about-img, .contact-content {
    padding-right: 2rem;
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.contact-content {
    justify-content: center;
    border-right: 1px solid #1a1d22;
}

.about-img img,.experience-img img {
    width: 65%;
    /* border: 3px solid #09BBC3; */
}

.about-content,.contact-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 2rem;
    padding-right: 10%;
    width: 50%;
}

/*.about-content span {
    color: #09BBC3;
}*/

span {
    color: #09BBC3;
}

/* .about-title h3 {
    color: #fff;
    font-size: 2rem;
    margin: 10px 0;
} */

h2 {
    color: #fff;
    font-size: 2rem;
    margin: 10px 0;
}

.about-description {
    color: #fff;
    font-size: 0.8rem;
}

.about-button.btnContato {
    padding: 20px 0;
}

/* .about-button.btnContato a{
    font-size: 13px;
    padding: 0.9rem 1.5rem;
    text-decoration: none;
} */

.experience, .contact {
    background-color: #111111;
}

.title {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #09BBC3;
}

.projects-conteiner {flex-direction: column;}

.projects-carousel {
    width: 1000px;
    margin: 0 auto;
    padding-top: 40px;
}

.projects-carousel a {
    text-decoration: none;
}

.iten-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.iten-carousel img {width: 60%;border-radius: 7px;}

.iten-carousel span {padding: 20px 0;text-transform: uppercase;}

#contact-form{
    background: rgba(26, 29, 34, 0.62);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    width: 70%;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(26, 29, 34, 0.3);
    display: flex;
    flex-direction: column;
    padding: 8%;
    z-index: 10;
}

#contact-form label {
    color: #fff;
}

#contact-form input, #contact-form textarea {
    border-radius: 5px;
    border: none;
    padding: 10px;
    margin: 15px 0;
}

.form-field::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: "Montserrat", sans-serif;
    opacity: 1; /* Firefox */
}

.form-field:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-family: "Montserrat", sans-serif;
}

.form-field::-ms-input-placeholder { /* Microsoft Edge */
    font-family: "Montserrat", sans-serif;
}

.form-submit {
    width: 50%;
    margin: 0 auto;
    padding: 0.9rem 0.6rem;
}

.contact-title h2 {
    border-bottom: 3px solid #09BBC3;
    padding-bottom: 8px;
}

.contact-thanks h2 {
    color: #09BBC3;
    border: none;
    padding: 0;
}

.contact-thanks span {
    color: #fff;
}

.active-message {
	-webkit-animation: slide-in-blurred-right 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-in-blurred-right 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@-webkit-keyframes slide-in-blurred-right {
    0% {
      -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
              transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
      -webkit-transform-origin: 0% 50%;
              transform-origin: 0% 50%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) scaleY(1) scaleX(1);
              transform: translateX(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-blurred-right {
    0% {
      -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
              transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
      -webkit-transform-origin: 0% 50%;
              transform-origin: 0% 50%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) scaleY(1) scaleX(1);
              transform: translateX(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  

.hidden-message {display: none;}

footer {
    width: 100%;
    bottom: 0;
    left: 0;
    position: relative;
    border-top: 1px solid #333;
    z-index: 2;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #121212;
    padding: 30px;
    color: #fff;
}

.content-footer {
    padding: 0 5rem 0 2rem;
    border-left: 2px solid #1a1d22;
}

footer .logo {
    padding: 0;
}

footer .logo img{
    width: 7rem;
}

.content-footer ul {list-style: none;padding-left: 0;}

.content-footer li {margin-bottom: 3px;}

.content-footer a {
    color: #9fa6ad;
    text-decoration: none;    
}
.content-footer a:hover {
    color: #fff;    
}

.content-footer h3 {margin: 0;font-weight: 500;}

.content-footer img {
    width: 16px;
    margin-right: 5px;  
}

.footer-social ul {display: flex;}

.footer-social img {width: auto; margin-right: 20px;}

@keyframes float{
	0%,100%{
		transform:translatey(0)
	}
	50%{
		transform:translatey(-10px)
	}
}
.infinite-floating-effect {
     animation: float 3.5s ease-in-out infinite;
}

@media all and (max-width: 1036px) {
    main {display: none;}

    #nav-menu, .btnContato{display:none;}

    .banner .apresentacao {
        flex-direction: column-reverse;
    }

    .titulo-apresentacao h1 {
        font-size: 18px;
        margin: 0;
    }

    .img-apresentacao img {
        width: 10rem;
    }

    .footer-container {
        flex-direction: column;
        width: auto;
    }

    footer .logo {
        padding: 1rem 0rem;
    }

    footer .logo img {
        width: 5rem;
    }

    .content-footer {
        border-left: 0;
        border-top: 2px solid #1a1d22;
        padding: 0;
    }

    .content-footer h3 {
        margin-top: 1rem;
    }

    .content-footer li {margin-bottom: 10px;}

    .footer-social img {margin-right: 30px;}
}